DATABASE_URL=postgresql://user:password@localhost:5432/go_train_refund
OPENMETROLINX_API_KEY=
GTFS_REALTIME_URL=https://api.openmetrolinx.com/OpenDataAPI/api/V1/Gtfs/Feed/TripUpdates
GTFS_STATIC_URL=https://api.openmetrolinx.com/OpenDataAPI/api/V1/Gtfs/Static
ENVIRONMENT=development